.start-component {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.5s ease;

    h1 {
        font-size: 4rem;
    }
}

.start-component.fade-out {
    opacity: 0;
}